<!-- Copyright -->
<section class="hidden-xs hidden-sm">
  <div class="container text-center">
    <h3 class="logo logo-big m-t-160">SKI LINES</h3>
    <p class="font-questrial">Copyrights &copy; 2017 SkiLines. All rights reserved.</p>
  </div>
</section>
