<div class="ad_container">
  <div class="headline_advert">
	
	
	<% if article.image.blank? %>
	
	<%= link_to image_tag(article.orig_content_photo.url(:large), width:"100%"), "#{article.source}" %>
    
	<%else%>
	<img title="<%=article.title %>" class="media" src="<%=asset_path "#{article.image}", alt:"#{article.title}"%>".html_safe style="width:100%">	
	
	<%end%>
	
  </div>
</div>




