 <div class="side_container affix" data-spy="affix" data-offset-top="195">
   		
		
			<div class="bs-sidebar">
			<a class="twitter-timeline" width="200" href="https://twitter.com/SkiLinesDotCom/favorites" data-widget-id="571322529370079232">Favorite Tweets by @SkiLinesDotCom</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
	  </div>
	  
	  
 		<div class="bs-sidebar">
		
	</div>
	  
	  
  </div>
  