
<% @articles.each do |article| %>
		<a name="<%=article.id %>" class="article_anchor"></a>
		<%= article_partial_selector(article) %>
<% end %>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center; margin-bottom:10px; margin-left:0px; padding:0px;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mobile Newsfeed -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-7427467260900360"
         data-ad-slot="6943236131"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
