<div class="hidden-lg col-md-12 col-sm-12 hidden-xs google_adsense" style="margin-bottom:15px">
  <br />
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Show Page Header -->
    <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-7427467260900360"
       data-ad-slot="3793123335"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
<div class="visible-xs col-xs-12" style="text-align:center; margin-top:10px; margin-left:0px; padding:0px;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Mobile Newsfeed -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:100px"
         data-ad-client="ca-pub-7427467260900360"
         data-ad-slot="6943236131"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
