

	<div class="merchant_application col-lg-9 col-md-8 col-sm-12 col-xs-12">

		<%if @merchant_application_session == nil %>
		<%= render 'merchant_applications/form' %>
		<%else%>
		<%= render 'merchant_applications/submitted_form'%>
		<%end%>

	</div>
	<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
		<div class="affix google_adsense" style="width:100%">

			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			 <!-- Spring 2016 -->
			 <ins class="adsbygoogle"
				 style="display:inline-block;width:300px;height:600px"
				 data-ad-client="ca-pub-7427467260900360"
				 data-ad-slot="2795898131"></ins>
			 <script>
			 (adsbygoogle = window.adsbygoogle || []).push({});
			 </script>
		</div>
	</div>
    <br /><br />
