<!--
<script>
$(document).ready(function(){
		var left_side_products = $('.left_side_featured_products');
		var left_side_products_top = left_side_products.offset().top;
		var feature_headlines = $('.featured_headlines');

		var $left_side_window = $(window);
		$left_side_window.scroll(function(){

			if ( $left_side_window.scrollTop() >= (left_side_products_top - 65) ) {
					left_side_products.addClass('affix');
					feature_headlines.hide();
			} else {
					left_side_products.removeClass('affix');
					feature_headlines.show();
							}
		});
});

</script>
-->
<div class="left_side">
	<div class="featured_headlines">
			<h4 class="feature_heading"><span class="glyphicon glyphicon-tags" ></span>Featured Stories</h4>
			<%
			if !@featured_articles.blank?
				@featured_articles.each do |article| %>
					<% if article.notes == "Featured" %>
		 				<%= render :partial => "articles/left_side_bar/f_standard", :locals => {:article => article} %>
					<%end%>
			 <%end%>
		 <%end%>
	</div>
</div>
