<div class="modal fade" id="modal_category_select" tabindex="-1" role="dialog" aria-labelledby="modal_category_select_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal_category_select_label">Filter by Category</h4>
      </div>
      <div class="modal-body">
        <div id="div_root_categories">
          <select name="category_select_0" id="category_select_0">
            <option value="0">-- Select Category--</option>
            <%
            @all_categories.where(parent_id: nil).each do |root_category|
              %><option value="<%=root_category.id%>"><%=root_category.name%></option><%
            end
            %>
          </select>
        </div>
        <div id="div_subcategories"></div>
        <br />
        <input type="hidden" id="hidden_category_modal_category_id" name="hidden_category_modal_category_id" value="" />
        <a href="<%=admin_products_path%>" id="btn_category_modal_filter" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Filter&nbsp;&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
</div>
