<div class="modal fade password_verification" id="password_verification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Password Confirmation:</h4>
      </div>
      <div class="modal-body">
        <%= form_tag "/admin/stripe_accounts/verify_password", :method => :get do %>
        <%= label_tag :password, "Confirm Your Password:", hidden:true%>
        <%= password_field_tag 'password', nil, class: "form-control" %><br />
        <%= submit_tag "Submit", class: "btn btn-primary" %>
        <%end%>
        <br />
      </div>
    </div>
  </div>
</div>
