<div class="stripe_form_headings col-xs-12">
  <h2>Account Status&nbsp;<span class="glyphicon glyphicon-info-sign" rel="popover" title="Account Status" data-content="Your account status reflects the identity verification requirements associated with your account. As you begin to process greater transaction volumes, we may request additional information in order to further validate your identity. This is a requirement by law." data-trigger="hover" data-placement="top"></span></h2>
</div>
<% if @fields_needed.blank? %>
<div class="col-xs-12">
  <p>Your account is active!</p>
</div>
<%else%>
<% if @transfers_enabled == false %>
  <% if @charges_enabled == true %>
    <div class="col-xs-12">
      <p>Your account is currently active, and you are ready to sell!</p><br />
      <p>However, in order to remain active, and for us to transfer you your funds,
        the following information is required at some point in the near future:
      </p>
    </div>
  <%else%>
  <br />
    <div class="col-xs-12">
      <p>Your products are currently not for sale, and all charges have been disabled.</p>
      <p>In order to reactivate your account, the following information is required:</p>
    </div>
    <br />
  <%end%>
  <div class="col-xs-12">
    <% @fields_needed.each do |f| %>
      <ul>
        <li><p><%= fields_needed_translate(f, @country) %></p></li>
      </ul>
    <%end%>
  </div>
<%else%>
  <div class="col-xs-12">
    <p>Your account is currently active, and you are ready to sell!</p><br />
    <p>However, in order to remain active, and for us to transfer you your funds,
      the following information is required at some point in the near future:
    </p>
  </div>
  <div class="col-xs-12">
    <% @fields_needed.each do |f| %>
      <ul>
        <li><p><%= fields_needed_translate(f, @country) %></p></li>
      </ul>
    <%end%>
  </div>
<%end%>
<%end%>
