<div class="stripe_account">
  <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
  </div>
  <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
  	<h2><%= current_user.merchant_name %></h2>
    <br />
    <% if current_user.stripe_account_id %>
      <p>You can now begin selling! However, before you start processing a significant volume of transactions&mdash;over $2,000.00-$3,000.00&mdash;our
        payments processor (Stripe) requires that you complete the steps below.
        We recommend that you do this as soon as possible in order to prevent an interuption in service later.
      </p>
      <br />
      <div class="row">
        <%= render :partial => 'update_account_form' %>
        <%= render :partial => 'update_company_details_form' %>
        <%= render :partial => 'banking_form' %>
      </div>
    <%end%>
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />
  </div>
  <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
  </div>
</div>
<script>
Stripe.setPublishableKey('pk_test_faFoLDlCFHpuTiEHaihzanYo');
Stripe.bankAccount.createToken({
  routing_number: $('.routing-number').val(),
  account_number: $('.account-number').val(),
}, stripeResponseHandler);
function stripeResponseHandler(status, response) {

  // Grab the form:
  var $form = $('#payment-form');

  if (response.error) { // Problem!

    // Show the errors on the form:
    $form.find('.bank-errors').text(response.error.message);
    $form.find('button').prop('disabled', false); // Re-enable submission

  } else { // Token created!

    // Get the token ID:
    var token = response.id;

    // Insert the token into the form so it gets submitted to the server:
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));

    // Submit the form:
    $form.get(0).submit();

  }
}
</script>
