<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
</div>
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
  <%= form_tag admin_create_account_path, :method => :get do %>
	<h1><%=current_user.merchant_name%></h1>
	<h4>Connect Your Store!</h4>
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			  <div class="edit_merchant_save_button actions">
			    <%= submit_tag "CONNECT!", class: "btn btn-primary merchant_pro_save" %>
			  </div>
  	</div>
  	<% end %>
</div>
<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
</div>

<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
<br /><br /><br /><br /><br />
