<!-- nav-push is used to push the content to the bottom when navbar has .navbar-fixed-top class and equals to navbar height  -->
<div id="nav-push" class="hidden-xs"></div>

<div class="container">
	<div class="row">
		<% if @cart.empty? %>
		<%= render :partial => "orders/empty_cart" %>
		<%else%>
		<%= render :partial => "orders/cart_exists" %>
		<%end%>
	</div>
</div>
<br /><br />
