<div class="container">
	<div class="row">
		<% if @cart.empty? %>
		<%= render :partial => "orders/empty_cart" %>
		<%else%>
		<%= render :partial => "orders/cart_exists" %>
		<%end%>
	</div>
</div>
<br /><br />
