<% if @cart.empty? %>
	<%= render :partial => "orders/empty_cart" %>
	<% @nofooter = true %>
<%else%>
	<div class="container">
		<div class="row">
	<%= render :partial => "orders/cart_exists" %>
	<br /><br />
		</div>
	</div>
<%end%>
