<% @contacts.each do |c| %>

<div class="contact_well">
  <div class="row">
  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
  <%= c.email %><br>
  <%= c.created_at %><br>
  
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
  <%= c.comment %>
  </div>
  <div class="col-lg-12">
  <%= c.website %>
  </div>
</div>
</div>

<%end%>




   