<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
</div>
<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12">
		  <br />
  	  
	  <br />
			<h3>Unfortunately we could not find your order. Please try again. 
				<br /><br />Next time, be sure the information you enter matches that which you used to complete your order. </h>
			<p style="text-align:center">
				
			</p>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			  <div class="merchant_form_headings col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h2></h2>
			  </div>
			  <div class="row">
			
			  </div>
	  		 
	    	  
			  <br />
			  <div class="clear_merchapp_session">
			  <%= link_to "TRY AGAIN", trackmyorder_tryagain_path, class: "btn btn-large btn-primary merchant_pro_save" %>
			  </div>
		</div>
</div>	
<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
</div>	