<% @stockproducts.each do |stockproduct| %>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="<%=stockproduct.id%>">
    <%= render 'admin/products/stock_product', :stockproduct => stockproduct %>
    </div>
<%end%>
