<div class="about col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h4><i>Frequently Asked Questions:</i></h4>
  <a href="#" class="question">
1.	How do I prevent my products from being sold to out of country mailing addresses?
  <br />
  </a>
  <div class="answer" style="display:none;">
    <p>
  On your merchant dashboard, under “My Profile”, you can list the regions to which you are willing to ship your product. A customer who’s shipping address is in any of the regions not selected by you will be prevented from purchasing that product.
    </p>
  </div>

  <a href="#" class="question">
2.	How often do I get paid?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
By default, you will be paid daily for the transactions that occurred 7 days previously. In the near future, this will be adjustable to suit your needs.
    </p>
  </div>

  <a href="#" class="question">
3.	How do I get paid?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
  On your dashboard, you will see a link labelled "My Account". If you follow this link, you will see a form requesting your bank details.
  Completing this form permits our payments provider, Stripe, the ability to make direct deposits into your bank account.
  Completing this banking form is necessary in order to get paid.
    </p>
    <p>
    Since we permit you to sell in both CAD and USD currencies, we also allow you to connect both a USD and a CAD bank account.
    Funds from any orders placed in USD will be deposited into your USD account, and likewise for any orders received in CAD.
    </p>
    <p>
    If you only have either a CAD bank account or a USD bank account, Stripe will exchange your funds into the currency of your bank at the time of transfer at current exchange rates.
    </p>
  </div>

  <a href="#" class="question">
4.	How do I upload products to my Ski-Lines store?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
One of our main goals is to make adding products and managing inventory as easy as possible.
On your dashboard, you will see a button labelled “Add New Product”. Once you click this button, you will be shown a form requesting all the information related to a single product.

  </p>
  <p>
Also on your dashboard, you will see another button labelled "Upload CSV File". If you follow this link, you will be shown instructions for how to add products listed in a file with a .csv extension. You can easily export an Excel file to a .csv file from within your Excel file.
Once you have completed the bulk upload, you will then have add photos, inventory, and any other peices of information required to start selling those products.
    </p>
  </div>

  <a href="#" class="question">
5.	How do I charge for shipping?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
The evidence is quite clear that the checkout experience is significantly improved the sooner the customer knows exactly how much they will be charged.
As such, we have committed to a simple, one size fits all shipping charge system. Meaning, you set a flat fee for shipping for each product, which will be applied to all customers across the board, regardless of where they live in your country.
If the customer lives outside of your country, you can set a different fee for international shipments. You may also set both these prices in CAD and USD.
  </p>
  <p>
All in all, you have to make an educated estimation as to what your average shipping cost will be fore each product, and set that as the shipping fee.
If you are selling in both currencies, you will have 4 shipping prices to enter: domestic shipping charges in both CAD and USD, and international shipping charges in both CAD and USD.
    </p>
  </div>

  <a href="#" class="question">
6.	Can I sell my summer products, such as running or cycling gear?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
We don’t just operate ski-lines.com. We also own the rights to bike-lines.com, run-lines.com, swim-lines.com, and product-lines.com, which will be launching in spring of 2017. In the meantime, we suggest that you focus on your skiing equipment, but anticipate having a very similar solution, accessible through a single platform, for your summer products come the spring.
    </p>
  </div>

  <a href="#" class="question">
7.	What information do you need for us to start selling?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
All we need for you to begin is for you to accept our terms and conditions.
However, in order to permit transfers to your bank account, there is a certain amount of information required to verify your identity.
This information is requested in the “My Account” page in your dashboard.
This is not only a legal requirement, but also makes complete practical sense for us to mitigate against the potential for fraud.
Furthermore, as your account becomes increasingly active, and you start to process large volumes of transactions, greater measures for identity verification are required.
As such, there is a multi-step process for identity verification. We do this in order to permit you to start selling as fast as possible.
<br /><br />
</p>
<p><b>Step 1—To start selling:</b></p>
<p>
The only actions required by you to start selling is to accept the terms and conditions on your account, add products, list the inventory available, and mark your products as “Active”.
<br /><br />
</p>
<p><b>Step 2—To receive bank transfers:</b></p>
<p>
To receive bank transfers, you must update your account with some identifying pieces of information: merchant Business Number, account representative’s last four digits of social security number, social insurance number, and, of course, your bank account details. What we ask for really depends on the state of verification. Once you submit this information, it will not subsequently be available for display. In most cases, this is sufficient to fully verify your account.
<br /><br />
</p>
<p><b>Step 3—Not yet verified, and selling more than $20,000:</b></p>
<p>
In rare cases, we may require the account representative to upload a photocopy of a piece of government issued identification.

No sensitive data is stored on our servers, or even on the Ski-Lines site. Once this information is submitted, you will no longer see these form fields.
    </p>
  </div>

  <a href="#" class="question">
8.	Are there any pricing restrictions?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
A few select manufacturers have strict policies with respect to selling online, including pricing. As such, it is important for you to double check with your regional distributor or the manufacturer’s sales reps to ensure you are in compliance with their e-commerce policies.
    </p>
  </div>

  <a href="#" class="question">
9.	Do we have our own URL we can point customers to?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
Yes, you can tell your customers to go to Ski-Lines.com/shop/YourStoreName to see a list of all your store’s products that are for sale.
    </p>
  </div>

  <a href="#" class="question">
10.	Can we have promo codes to give to customers to make a purchase through or site?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
This feature will be coming soon! But, we do not currently have any promo codes that can be used for discounts on Ski-Lines. We know it is important for you to be able to hand out promo cards at events, and be able to continue the sales process online. As such, we are making this feature a priority, and should have it completed in the coming months.
    </p>
  </div>

  <a href="#" class="question">
11.	What if a customer wants a refund or a return?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
The customer is to contact the store the product was purchased from, and, if exchanging an item, coordinate the exchange directly with them. If the customer wants to do a straight return, the customer, again, contacts the store directly to coordinate the shipping for a return.
The merchant then follows the link in the specific order to which the return is related to complete a refund for the customer. The customer will be refunded the product and the tax paid on the product, but not the shipping or any tax paid on the shipping by default, but the merchant can customize this on the returns form.
    </p>
  </div>

  <a href="#" class="question">
12.	How is sales tax calculated?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
Calculating sales tax can be incredibly tricky when dealing with three different levels of sales tax in the U.S., and the harmonized sales tax in Canada.
In addition, there is no standard formula accross the board for deciding whether it is the customer or the retailer's sales tax rates that apply.
As such, we use TaxJar to do all the heavy lisfting of these various sales tax calculations.
It is their primary focus to stay on top of any changes in local sales tax rates or policies, which allows us to stay focused on providing an exceptional marketplace.
    </p>
  </div>

    <a href="#" class="question">
13.	Who pays for shipping in a return?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
The customer is responsible for any shipping fee and taxes payable for returning items as a default, but this is customizable by you when submitting a request for a return.
      </p>
    </div>

    <a href="#" class="question">
14.	Can I set my own return policy?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
Yes, merchants can set their own return policy as a default for their account, and then edit the policy on a per product basis.
      </p>
    </div>

    <a href="#" class="question">
15.	How are products ranked for display on the website?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
Products are displayed based on the user’s location. For example, if a user visits Ski-Lines.com/shop on their device in Winnipeg, they will first see all the products for sale by retail stores located in Winnipeg. If a user searches for a specific product, the results will be listed first by relevance, and then distance from their current location.
      </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
