<div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
</div>
<div class="about col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="merchant_title">
		<div class="row">
	        <h3><%= current_user.merchant_name%> </h3>
	    </div>
      <p>
        To speak with one of our support representatives, please call:<br />
        1-888-374-8168<br />
        or email Mark at
        mark@ski-lines.com
      </p>
	</div>
<br /><br />
<%= render 'admin/supports/merchant_faq' %>
</div>
<div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
</div>
