<!-- nav-push is used to push the content to the bottom when navbar has .navbar-fixed-top class and equals to navbar height  -->
<div id="nav-push" class="hidden-xs"></div>

<section id="hero-alpine" class="jumbotron">
	<div class="container">
		<h1 class="text-center text-uppercase">Alpine skiing</h1>
	</div>
</section>

<main class="container">
	<ol class="breadcrumb font-questrial">
		<li><a href="shop_path">Home</a></li>
		<!--<li class="active">Cross-Country Skiing</li>-->
	</ol>

	<div class="products-list-top-bar m-b-30 font-questrial">
		<span class="list-grid-toggler hidden-xs btn btn-default pull-right text-left">
			View &nbsp; &nbsp;
			<a href="#"><i class="fa fa-th"></i>1</a>
			<a href="#" class="disabled"><i class="fa fa-bars"></i>2</a>
		</span>

		<button class="btn btn-default text-left" type="button" id="filter-menu" data-toggle="modal" aria-haspopup="true" aria-expanded="true" data-target="#modal-filters">
			Filters
			<i class="fa fa-angle-right"></i>
		</button>
	</div>

	<div class="products-list list-view">
		<div class="row">
			<%
			if @products.any?
				@products.each do |product|
				%>
					<!-- START PRODUCT ITEM -->
					<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
						<%= render :partial => "products/product", :locals => {:product => product} %>
					</div>
					<!-- END PRODUCT ITEM -->
					<%
				end
			else
				%>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="merchant_title">
				 		<i>No products exist in this category.</i>
				 	</div>
				</div>
				<%
			end
			%>
		</div>
	</div>

	<!--
	<nav aria-label="Page navigation" class="text-center">
		<ul class="pagination pagination-lg font-questrial">
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">17</a></li>
		</ul>
	</nav>
	-->
</main>
