<section id="hero-alpine" class="jumbotron">
  <div class="container">
    <h1 class="text-center text-uppercase">Alpine skiing</h1>
  </div>
</section>

<!-- Begin page content -->
<main class="container">
  <ol class="breadcrumb font-questrial">
    <li>
      <a href="#">
        <i class="fa fa-long-arrow-left"></i> &nbsp; Back
      </a>
    </li>
    <li><a href="#">Home</a></li>
    <li class="active">Cross-Country Skiing</li>
  </ol>

  <div class="products-list-top-bar m-b-30 font-questrial">
    <span class="list-grid-toggler hidden-xs btn btn-default pull-right text-left">
      View &nbsp; &nbsp;
      <a href="#"><i class="fa fa-th"></i></a>
      <a href="#" class="disabled"><i class="fa fa-bars"></i></a>
    </span>

    <button class="btn btn-default text-left" type="button" id="filter-menu" data-toggle="modal" aria-haspopup="true" aria-expanded="true" data-target="#modal-filters">
      Filters (1) &nbsp; &nbsp; &nbsp;
      <i class="fa fa-angle-right"></i>
    </button>
  </div>

  <div class="products-list list-view">
    <div class="row">

      <!-- START PRODUCT ITEM -->
      <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <article>
          <span class="label label-info">Save 50%</span>
          <img src="assets/img/product-placeholder.jpg" alt="Hybrid 12+ Vacuum Full Fit, Fischer">
          <div class="product-content">
            <h4>
              Hybrid 12+ Vacuum Full Fit, Fischer
            </h4>
            <p class="text-muted small">
              by Little Ed’s Ski and Bike Shop
            </p>
            <div class="pull-right">
              <span class="rating">
                  <span class="star"></span>
              <span class="star"></span>
              <span class="star active"></span>
              <span class="star"></span>
              <span class="star"></span>
              </span>
              <span class="pull-right">&nbsp; 12</span>
            </div>

            <del class="text-muted">$559.99</del>
            <br>
            <strong>$459.99</strong>

            <p class="hide font-questrial">
              For the comfort-oriented female skier. Gives you a good fit and comes with an easy-use buckle concept. Makes walking easy with Ski/Walk Mode and Anti-Slide Soleplates Winter: a chance to go flat out without overheating. This go-to running jacket works as a mid-layer in cold situations or as an outer layer when it’s not too fierce. Soft, highly breathable fleece has a weather-resistant […]
            </p>
          </div>
          <div class="overlay">
            <a href="#" class="btn btn-info btn-rounded btn-block"><i class="fa fa-shopping-cart"></i> &nbsp;ADD TO CART</a>
            <a href="#" class="btn btn-white btn-rounded btn-block">SEE DETAILS</a>
          </div>
        </article>
      </div>
      <!-- END PRODUCT ITEM -->

      <!-- START PRODUCT ITEM -->
      <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <article>
          <span class="label label-primary">NEW</span>
          <img src="assets/img/product-placeholder.jpg" alt="Hybrid 12+ Vacuum Full Fit, Fischer">
          <div class="product-content">
            <h4>
              Hybrid 12+ Vacuum Full Fit, Fischer
            </h4>
            <p class="text-muted small">
              by Little Ed’s Ski and Bike Shop
            </p>
            <div class="pull-right">
              <span class="rating">
                  <span class="star"></span>
              <span class="star"></span>
              <span class="star active"></span>
              <span class="star"></span>
              <span class="star"></span>
              </span>
              <span class="pull-right">&nbsp; 12</span>
            </div>
            <del class="text-muted">$559.99</del>
            <br>
            <strong>$459.99</strong>

            <p class="hide font-questrial">
              For the comfort-oriented female skier. Gives you a good fit and comes with an easy-use buckle concept. Makes walking easy with Ski/Walk Mode and Anti-Slide Soleplates Winter: a chance to go flat out without overheating. This go-to running jacket works as a mid-layer in cold situations or as an outer layer when it’s not too fierce. Soft, highly breathable fleece has a weather-resistant […]
            </p>
          </div>
          <div class="overlay">
            <a href="#" class="btn btn-info btn-rounded btn-block"><i class="fa fa-shopping-cart"></i> &nbsp;ADD TO CART</a>
            <a href="#" class="btn btn-white btn-rounded btn-block">SEE DETAILS</a>
          </div>
        </article>
      </div>
      <!-- END PRODUCT ITEM -->

    </div>
  </div>

  <nav aria-label="Page navigation" class="text-center">
    <ul class="pagination pagination-lg font-questrial">
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">17</a></li>
    </ul>
  </nav>
</main>

<!-- Copyright -->
<section class="hidden-xs hidden-sm">
  <div class="container text-center">
    <h3 class="logo logo-big m-t-160">SKI LINES</h3>
    <p class="font-questrial">Copyrights &copy; 2017 SkiLines. All rights reserved.</p>
  </div>
</section>
