<div class="featured_yt_videos" id="<%=article.date_published%>">
   <div class="video_well">
	    <iframe id="player" class="video_well" width="350px" height="200px" src="<%= "#{article.image}"%>" frameborder="0" allowfullscreen></iframe>
   </div>
</div>
