				<br /><br />
				<div class="about col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h4 style="text-align:center">ABOUT</h4>
				<p>
					It is our mission to improve the online services for the cross-country skiing community. We are constantly looking
					to improve and add more features, while remaining focussed on our existing products. Currently, we are focussed on
					media and retail product aggregation.
				</p>
				<p>
					Our media aggregation utilizes technology that aims to collect all cross-country ski racing content that is published online, and make it available for navigation in English.
					We provide links and insubstantial snippets of content produced by others, while producing some of our own content on occassion. We are constantly working to
					improve this service, and making content published all over the internet and social media platforms more accessible.
				</p>
				<p>
					Our product aggregation tool and e-commerce platform provides a service for brick-and-mortar retailers to sell their products through our site. Whether they
					are experienced with online retail, or do not otherwise have the resources to sell online, we are providing opportunities for merchants to
					expand their business. In addition, we want to improve the online purchasing options for consumers in a way that promotes the economic
					interests of the ski retailers. We all know how much the brick-and-mortar retail stores mean for our ski community, and so we feel it is
					important to expand online sales with the retailer's interest in mind.
				</p>
				<p>
					For more about our company and our mission, please <%= link_to "write to us.", "mailto:info@ski-lines.com?Subject=Inquiry" %>
				</p>

				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				</div>
				<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
					<div class="google_adsense" style="padding-left:15px">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						 <!-- Spring 2016 -->
						 <ins class="adsbygoogle"
							 style="display:inline-block;width:300px;height:600px"
							 data-ad-client="ca-pub-7427467260900360"
							 data-ad-slot="2795898131"></ins>
						 <script>
						 (adsbygoogle = window.adsbygoogle || []).push({});
						 </script>
					</div>
				</div>
