				<br /><br />
				<div class="about col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h4 style="text-align:center">ABOUT</h4>
				<p>
					Ski-Lines.com began as a website geared towards news curation and aggregation for the cross-country ski racing community. While we remain committed to the goals of content aggregation,
					we are also tremendously focused on building out the best e-commerce marketplace for specialty retail sporting goods stores.
				</p>
				<p>
					Ski-Lines.com/shop is geared for a full-scale launch in the Fall of 2016, with retailers accross Canada and the U.S. preparing their inventory for listing.
					In addition, we will be launching Bike-Lines.com and Run-Lines.com in the spring of 2017 in order to continue to service these specialty retail stores year-round.
				</p>
				<p>
					Our e-commerce platform provides a service for brick-and-mortar retailers to sell their products through our site. Whether they
					are experienced with online retail, or do not otherwise have the resources to sell online, we are providing opportunities for merchants to
					expand their business. In addition, we want to improve the online purchasing options for consumers in a way that promotes the economic
					interests of the ski retailers. We all know how much the brick-and-mortar retail stores mean for our skiing communities, and so we feel it is
					important to expand online sales with the retailer's interest in mind.
				</p>
				<p>
					For more about our company and our mission, please <%= link_to "write to us", "mailto:info@ski-lines.com?Subject=Inquiry" %>, or <%= link_to "sign up to become a merchant today", new_merchant_application_path %>.
				</p>

				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
				</div>
				<div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
					<div class="google_adsense" style="padding-left:15px">
						<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						 <!-- Spring 2016 -->
						 <ins class="adsbygoogle"
							 style="display:inline-block;width:300px;height:600px"
							 data-ad-client="ca-pub-7427467260900360"
							 data-ad-slot="2795898131"></ins>
						 <script>
						 (adsbygoogle = window.adsbygoogle || []).push({});
						 </script>
					</div>
				</div>
