
	<br /><br /><br /><br /><br />


	<br /><br />
	<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
	</div>
	<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12" style="text-align:center">

	<h4>IT APPEARS THAT YOU DO NOT HAVE JAVASCRIPT ENABLED ON YOUR BROWSER!</h4>
	<br /><br />
	<p>
		Many important features of this site require that you have javascript enabled.
	</p>
	<p>
		As such, if you would like to continue browsing ski-lines.com/shop, please follow <%= link_to "these instructions on how to enable javascript on your browser before continuing", "http://www.activatejavascript.org"%> .<br /><br />


	</p>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
	<div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
	</div>
