<br />
<div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
</div>
<div class="about col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <h4 style="text-align:center">About the Ski-Lines Marketplace</h4>
  <br />
  <p>
    Ski-Lines is focused on making it simple for specialty ski stores to sell online. It has been too difficult to both buy and sell ski related products
    online from people you trust for far too long. We are here to change that!
  </p>
  <p>The merchant dashboard is focused on simplicity and usability. We make it as easy as possible for you to add products, either individually or in a bulk upload,
    and manage your orders and inbox messages. You can also permit transfers to your bank account from your Ski-Lines store, making getting paid seemless.
  </p>
  <p>
    Here are some frequently asked questions by merchants:
  </p>
  <a href="#" class="question">
    1.	What is your fee?
    <br />
  </a>
  <div class="answer" style="display:none;">
    <p>
      Our fee is 6.45% of the sum of all of products and shipping charges in a given order, not including sales tax. Our payment processing fee is an additional 3.4% of the entire transaction amount, including sales tax. On average, this works out to be about 9% of the transactions total.
    </p>
  </div>

  <a href="#" class="question">
    2.	Do you charge sales tax on top of your fee?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
No, any sales tax applicable to our fee is included in the fee.
    </p>
  </div>

  <a href="#" class="question">
3.	Can I prevent my products from being sold to out of country mailing addresses?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
On your merchant dashboard, under “My Profile”, you can list the regions to which you are willing to ship your product. A customer who’s shipping address is in any of the regions not selected by you will be prevented from purchasing that product.
    </p>
  </div>

  <a href="#" class="question">
4.	How often do I get paid?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
By default, you will be paid daily for the transactions that occurred 7 days previously. In the near future, this will be adjustable to suit your needs.
    </p>
  </div>

  <a href="#" class="question">
5.	Can I customize which email address my orders get sent to?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
Currently, no. However, this will be a new feature to be added in the very near future.
    </p>
  </div>

  <a href="#" class="question">
6.	How can I upload products to my Ski-Lines store?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
For a limited time, you will have your own Ski-Lines representative to act as your e-commerce liaison to answer whatever questions you may have. In addition, your Ski-Lines rep can assist you with getting your account up to speed, including adding products to your store. If you are not sure how to add your products, you have a couple of options. First, you can make a list of all the inventory you would like to be listed for sale on Ski-Lines in a Microsoft Excel file, and email that file to your rep. It would be even easier, however, if you could export a file from your in-store inventory management software, and save that file in Microsoft Excel or as a .csv, and then email that file to your rep. Provided all the necessary information is included, your store should be fully up and running in only a few days!

However, it is important that you continue to track your inventory, and ensure that you don’t put yourself in a position where you can’t fill an order because you have run out of stock.  Therefore, it is in your best interest that you become as familiar with managing your store as possible, right from the very beginning.

If you would rather manage the entire product listing yourself, this is also a very simple process. One of our main goals is to make adding products and managing inventory as easy as possible. On your merchant products page, you will see a button labelled “Add Product”. Once you click this button, you will be shown a form requesting all the information related to a single product. In the very near future, bulk uploading of products will be made very simple by uploading a csv file with all the products you want to list for sale.
    </p>
  </div>

  <a href="#" class="question">
7.	Can I sell my summer products, such as running or cycling gear?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
We don’t just operate ski-lines.com. We also own the rights to bike-lines.com, run-lines.com, swim-lines.com, and product-lines.com. By spring of 2017, you will be able to publish your products to all of our sites which are specifically branded for your e-commerce needs, based entirely on the product category. Stay tuned for more information on the launch of these other sites.
    </p>
  </div>

  <a href="#" class="question">
8.	What information do you need for us to start selling?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
All we need for you to begin is for you to accept our terms and conditions. However, in order to permit transfers to your bank account, there is a certain amount of information required to verify your identity. This information is requested in the “My Account” page in your dashboard. This is not only a legal requirement, but also makes complete practical sense for us to mitigate against the potential for fraud. Furthermore, as your account becomes increasingly active, and you start to process large volumes of transactions, greater measures for identity verification are required. As such, there is a multi-step process for identity verification. We do this in order to permit you to start selling as fast as possible.

<p><b>Step 1—To start selling:</b></p>

The only actions required by you to start selling is to accept the terms and conditions on your account, add products, list the inventory available, and mark your products as “Active”.

<p><b>Step 2—To receive bank transfers:</b></p>

To receive bank transfers, you must update your account with some identifying pieces of information: merchant Business Number, account representative’s last four digits of social security number, social insurance number, and, of course, your bank account details. What we ask for really depends on the state of verification. Once you submit this information, it will not subsequently be available for display. In most cases, this is sufficient to fully verify your account.

<p><b>Step 3—Not yet verified, and selling more than $20,000:</b></p>

In rare cases, we may require the account representative to upload a photocopy of a piece of government issued identification.

No sensitive data is stored on our servers, or even on the Ski-Lines site. Once this information is submitted, you will no longer see these form fields.
    </p>
  </div>

  <a href="#" class="question">
9.	Are there any pricing restrictions?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
A few select manufacturers have strict policies with respect to selling online, including pricing. As such, it is important for you to double check with your regional distributor or the manufacturer’s sales reps to ensure you are in compliance with their e-commerce policies.
    </p>
  </div>

  <a href="#" class="question">
10.	Can I set up user accounts for my staff?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
Currently, no. However, we are working on adding in features such as this in the near future. Additionally, no sensitive data is stored on your account profile, and, as such, you should feel comfortable with trusted staff having access to your merchant login credentials.
    </p>
  </div>

  <a href="#" class="question">
11.	Do we have our own URL we can point customers to?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
Yes, you can tell your customers to go to Ski-Lines.com/shop/YourStoreName to see a list of all your store’s products that are for sale.
    </p>
  </div>

  <a href="#" class="question">
12.	Can we have promo codes to give to customers to make a purchase through or site?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
This feature will be coming soon! But, we do not currently have any promo codes that can be used for discounts on Ski-Lines. We know it is important for you to be able to hand out promo cards at events, and be able to continue the sales process online. As such, we are making this feature a priority, and should have it completed in the coming months.
    </p>
  </div>

  <a href="#" class="question">
13.	What if a customer wants a refund or a return?
<br />
  </a>
  <div class="answer" style="display:none;">
    <p>
The customer is to contact the store the product was purchased from, and, if exchanging an item, coordinate the exchange directly with them. If the customer wants to do a straight return, the customer, again, contacts the store directly to coordinate the shipping for a return. The merchant then indicates in the specific order to which the return is related that the item was returned. The customer will be refunded the product and the tax paid on the product, but not the shipping or the tax paid on the shipping.
    </p>
  </div>

    <a href="#" class="question">
14.	Who pays for shipping in a return?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
The customer is responsible for any shipping fee and taxes payable for returning items as a default, but this is customizable by you when submitting a request for a return.
      </p>
    </div>

    <a href="#" class="question">
15.	Can I set my own return policy?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
Yes, merchants can set their own return policy as a default for their account, and then edit the policy on a per product basis.
      </p>
    </div>

    <a href="#" class="question">
16.	How do I charge for shipping?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
Our goal is to make selling products as simple as possible, and, as such, we have made pricing for shipping as simple as possible. Further, we want the user to know how much a product will cost to ship very early in their shopping experience. Free shipping is becoming increasingly common is e-commerce, and is a very attractive aspect for many online shoppers. However, we recognize that shipping can often be expensive. For these reasons, we allow the merchant to set a default amount for shipping in their account profile, and then customize on a per product basis. This pricing strategy appropriately balances the interests of both parties—the consumer and the merchant—and maximizes the shopping experience for everyone.
      </p>
    </div>

    <a href="#" class="question">
17.	How are products ranked for display on the website?
<br />
    </a>
    <div class="answer" style="display:none;">
      <p>
Products are displayed based on the user’s location. For example, if a user visits Ski-Lines.com/shop on their device in Winnipeg, they will first see all the products for sale by retail stores located in Winnipeg. If a user searches for a specific product, the results will be listed first by relevance, and then distance from their current location.
      </p>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="col-lg-2 col-md-1 hidden-sm hidden-xs">
</div>
